<!DOCTYPE html>
<html lang="ko">
    <head>
        <title>Welcome</title>
        <meta charset="UTF-8">
        <script type="text/javascript" src="/script/jquery.min.js"></script>
        <script src="/script/moment.js" type="text/javascript"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/materialize/css/materialize.css">
        <script src="/materialize/js/materialize.js"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="/MaterialDesign-icon/css/materialdesignicons.min.css" media="all" type="text/css" />

        <style>
            @import url(http://fonts.googleapis.com/earlyaccess/nanumpenscript.css);/*팬*/ 
            @import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css); /*고딕*/
            body{
                font-family: 'Nanum Gothic',serif;
                background-color : rgb(246, 246, 246);
            }
            div.topbar{
                font-family: 'Nanum Gothic',serif;
                background-color: rgb(255,255,255);
                width: 100%;
                height: 55px;
                padding : 8px;
            }
            img#profile{
                margin-left : 5px;
                margin-top :  5px;
            }
            div.forms-container{
                margin : 0 auto;
            }
            textarea#auto-size{
                background-color : rgb(255,255,255);
                min-height: 100px;
                
                resize: none;
                border-radius: 5px;
                border:2px solid rgb(226, 226, 226);
                font-size : 20px;
                
                font-family: 'Nanum Pen script',serif;
            }
            textarea#auto-size:focus{
                outline: none !important;
                border-color: rgb(206, 206, 206);
                box-shadow: 0 0 10px rgb(206, 206, 206);
            }
            span.textarea-inimg{
                margin-top:20px;
                float:right;
            }


            @media(min-width: 600px) and (max-width: 999px){
                div.conatiner{
                    margin:0 auto;
                    width: 600px;
                }
                textarea#auto-size{
                    font-size :25px;
                    min-height: 150px;
                }
            }
            @media(min-width: 1000px) and (max-width: 9999px){
                div.conatiner{
                    margin:0 auto;
                    width: 800px;
                }
                textarea#auto-size{
                    font-size :25px;
                    min-height: 200px;
                }
            }
            div.write-btn{
                margin-top:20px;
            }

            img.postprofile{
                vertical-align:middle;
                background-color: #dce775;
            }
            span.posttime{
                float:right; 
                margin-top:15px; 
                font-weight:bold;
            }
            div.post-post{
                margin-top : 10px;
                min-height: 200px;
                border-bottom: 2px solid rgb(137, 207, 180);
            }

            div.video-container{
                float : none;
                clear: both;
                width: 100%;
                position: relative;
                padding-bottom: 56.25%;
                padding-top : 25px;
                height: 0;
            }
            iframe{
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                width: 60%;
                height: 60%;
                margin-left: auto;
                margin-right: auto;
                margin-top:3%;
            }
            img.post-media{
                margin-top:3%;
                max-width: 100%;
                height: auto;
            }
            div.media-container{
                margin:0 auto;
                width: 80%;
            }
            .user-posts{
                margin-top : 5%;
            }
            .post-under{
                padding:15px;
            }
        



        input[type=text].reply-input{
            border: 1px solid rgb(224, 224, 224);
            background-color : white;
            border-radius: 4px;
            height:2rem;
            margin-top:15px;
            margin-bottom:0px;
            padding-left:5px;
        }
        .reply-input:focus{
            border-bottom: 1px solid rgb(224, 224, 224) !important;
            box-shadow: 0 0px 0 0 orange !important;
        }
                    
        div#post{
            padding: 10px;
            
        }

        </style>
    </head>
    <body>

        <div class="topbar">
            <!-- 클릭하면 나의 프로필이미지를 바꿀 수 있게. -->
            <% if(!user){%>
                <a href="/auth/google">
                    <button class="btn waves-effect waves-light blue darken-2"><span>Login</span>
                        <i class="mdi mdi-google"></i>
                    </button>
                </a>
            <%}else{%>
                <a href="/profile"><img src="<%=user.img%>" id="profile" class="circle" alt="User profile image" width="35" height="35" onerror="this.onerror=null;this.src='/img/photo.png'"></a> <span><%=user.display%></span> 
            <% } %>
            

        </div>
        <div class="conatiner">
            <!-- write part -->
            <div class="row">
                <div class="offset-s1 offset-l2 col s10 l8">
                    <% if(user){%>
                        <div class="write-btn">
                            <button class="btn waves-effect waves-light amber accent-3 write" name="action" onclick="writeOn();"><i class="material-icons center"><span id="top-icon">mode_edit</span></i>
                            </button>
                        </div>
                    <%}%>
                    <div class="form-container" style="display:none;">
                        <span class="textarea-inimg">
                            <img src="/img/x-icon.png" alt="img-icon" width="20" onclick="inputOn('delete');">
                            <img src="/img/image-icon.png" alt="img-icon" width="20" onclick="inputOn('input-file');">
                            <img src="/img/youtube-icon.png" alt="img-youtube" width="20" onclick="inputOn('input-text');">
                        </span>
                        <form id="post" action="/main/post" method="POST"  enctype="multipart/form-data">
                            <textarea id="auto-size" rows="6" cols="10" placeholder="Post here!" name="post"></textarea>
                            <div class="row">
                                <div class="input-field col s12">
                                    <div id="input-text" style="display:none">
                                        <i class="material-icons prefix">mode_edit</i>
                                        <input id="input-text" type="text" class="validate" name="youtube">
                                        <label for="text">YouTubeLink</label>
                                    </div>
                                <div id="input-file" style="display:none">
                                    <div class="file-field input-field">
                                        <div class="btn">
                                            <span><i class="large material-icons">image</i></span>
                                            <input id="upload-img" type="file" name="img" accept=".gif, .jpg, .png"> 
                                        </div>
                                        <div class="file-path-wrapper">
                                            <input class="file-path validate" type="text" id="input-file">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <button class="btn waves-effect waves-light light-green darken-1 submit" type="submit" >write
                            <i class="material-icons right">send</i>
                        </button>
                    </form>
                </div>
            </div>
            <!-- read part -->
            <div class="row post-container">
                <%for(var i=0;i<posts.length;i++){%>
                <div class="col s12">
                    <div class="user-posts">
                        <!-- profile img path -->
                        <img src="<%=posts[i].profileimg%>" class="circle postprofile" width="35" height="35" onerror="this.onerror=null;this.src='/img/photo.png'"> 
                        <span><%=posts[i].display%></span>
                        <span class="posttime"> - <%=moment(posts[i].date).fromNow()%></span>
                        <div class="post-post blue-grey lighten-5">
                            <%if(posts[i].youtube || posts[i].img){%>
                                <div class="media-container">
                                    <%if(posts[i].youtube){%>
                                        <div class="video-container">
                                            <iframe src="https://www.youtube.com/embed/<%=(posts[i].youtube)%>"></iframe>
                                        </div>
                                    <%}else{%>
                                        <p class="center-align"><img src="<%=posts[i].img%>" alt="" class="post-media"></p>
                                    <%}%>
                                </div>
                            <%}%>
                            <div id="post">
                                <%-(posts[i].post).replace(/\n/g, '<br/>')%>
                            </div>
                            
                            <div class="post-under">
                                <span style="font-size:13px" code="<%=posts[i].id%>">reply - <%=posts[i].reply.length%></span>
                                <div class="post-under-reply" code="<%=posts[i].id%>">
                                    <%for(var j=0;j<posts[i].reply.length;j++){%>
                                        <div>
                                            <span style="font-weight:bold; font-size:20px; color : #0d47a1;"><%=posts[i].reply[j].display%></span>&nbsp; &nbsp;<span><%=posts[i].reply[j].comment%></span>
                                        </div>
                                    <%}%>
                                </div>
                                <form id="reply" code="<%=posts[i].id%>">
                                <%if(user){%>
                                    <div class="reply-container">
                                        <input type="text" name="comment" id="reply" class="reply-input" placeholder=" ↵ Reply is here!" maxlength="32">
                                        <input type="text" name="code" id="" value="<%=posts[i].id%>" style="display:none;">
                                        <input type="submit" style="display:none">
                                    </div>
                                <% }else {%>
                                    <div class="reply-container">
                                        <input disabled type="text" name="comment" id="reply" class="reply-input" placeholder=" Please be login" maxlength="32" minlength="3">
                                    </div>
                                    <% } %>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <%}%>
            </div>
            <div class="row">
                <div class="col s12" style="text-align:center; margin-top:20px;">
                    <a onclick="updatePosts();" class="btn-floating btn-large waves-effect waves-light blue darken-4"><i class="material-icons">add</i></a>
                </div>
            </div>
        </div>






                        
        <!-- container -->
        </div>
        <script>
                
            var replyCheck = false;
            $(document).on('submit', 'form#reply', function (event) {
                event.preventDefault();
                var data = $(this).serialize();
                var code = $(this).attr('code');
                var comment = $(`form[code="${code}"] input#reply`).val();

                if(!replyCheck){
                    $.ajax({
                        url : '/main/reply',
                        type:'POST',
                        data : data,
                        async : true,
                        beforeSend:function(){
                            replyCheck = true;
                        },
                        success: function(msg){
                            $(`span[code=${code}]`).html(`reply - ${msg.count}`);
                            $(`div[code=${code}]`).append(`
                                <div>
                                    <span style="font-weight:bold; font-size:20px; color : #0d47a1;">${msg.display}</span>&nbsp; &nbsp;<span>${comment}</span>
                                </div>
                            `)
                            $(`form[code="${code}"] input#reply`).val('');
                            replyCheck = false;
                        }   
                    }) //done
                    return false;
                }
                return false;
            });

            $('textarea#auto-size').on('keydown keyup',function(){
                $(this).height(1).height( $(this).prop('scrollHeight')+ 12 );
            })
            function writeOn(){
                if($('.form-container').css("display") == "none"){
                    $('#top-write').html('Read');
                    $('#top-icon').html('remove_red_eye');
                    
                }else{
                    $('#top-write').html('Write');
                    $('#top-icon').html('mode_edit');
                }
                $('div.form-container').slideToggle("slow");

            }


            function inputOn(name){
                if(name === "delete"){
                    $('#input-file').html($('#input-file').html());
                    $('input#input-text').val('');
                    $('input#input-file').val('');
                    $(`#input-file`).hide();
                    $(`#input-text`).hide();
                }
                if(name === "input-file"){
                    $(`#${name}`).show();
                    $(`#input-text`).hide();
                    $('input#input-text').val('');
                }else{
                    $(`#${name}`).show();
                    $(`#input-file`).hide();
                    $('#input-file').html($('#input-file').html());
                    $('input#input-file').val('');
                }
            }

            var length = <%- posts.length %>;
            function updatePosts(){
                $.ajax({
                        url : '/main/more',
                        type:'POST',
                        data : {skip : length},
                        async : true,
                        success: function(msg){
                            length += msg.dbs.length; //Sum length
                            for(var i=0;i<msg.dbs.length;i++){
                               $('.post-container').append( postinfo(msg.dbs[i].display,msg.dbs[i].profileimg,msg.dbs[i].reply,msg.dbs[i].post,msg.dbs[i].youtube,msg.dbs[i].img,msg.dbs[i].date,msg.dbs[i]._id,msg.user) );
                            }
                        }   
                    }) //done
            }

            function postinfo(display,profileimg,reply,post,youtube,img,date,id,user){
                var type = '';
                var replydom ='';
                var replyinput = '';
                if(youtube !== undefined){
                    type = `<div class="video-container"><iframe src="https://www.youtube.com/embed/${youtube}"></iframe></div>`
                }else{
                    type =`<p class="center-align"><img src="${img}" alt="" class="post-media"></p>`
                }
                for(var i=0;i<reply.length;i++){
                    replydom +=
                    `<div>
                        <span style="font-weight:bold; font-size:20px; color : #0d47a1;">${reply[i].display}</span>&nbsp; &nbsp;<span>${reply[i].comment}</span>
                    </div>`
                }
                if(user){
                    replyinput = `  
                    <div class="reply-container">
                        <input type="text" name="comment" id="reply" class="reply-input" placeholder=" ↵ Reply is here!" maxlength="32">
                        <input type="text" name="code" id="" value="${id}" style="display:none;">
                        <input type="submit" style="display:none">
                    </div>`  
                }else{
                    replyinput = `
                    <div class="reply-container">
                        <input disabled type="text" name="comment" id="reply" class="reply-input" placeholder=" Please be login" maxlength="32" minlength="3">
                    </div>
                    `
                }

                var dom = 
                    `<div class="col s12">
                        <div class="user-posts">
                            <!-- profile img path -->
                            <img src="${profileimg}" class="circle postprofile" width="35" height="35" onerror="this.onerror=null;this.src='/img/photo.png'"> 
                            <span>${display}</span>
                            <span class="posttime"> - ${moment(date).fromNow()}</span>
                            <div class="post-post blue-grey lighten-5">
                                    <div class="media-container">
                                        ${type}
                                    </div>
                                <div id="post">
                                    ${post.replace(/\n/g, '<br/>')}
                                </div>
                                <div class="post-under">
                                    <span style="font-size:13px" code="${id}">reply - ${reply.length}</span>
                                    <div class="post-under-reply" code="${id}">
                                        ${replydom}
                                    </div>
                                    <form id="reply" code="${id}">
                                        ${replyinput}
                                    </form>
                                </div>
                            </div>
                        </div>
                        `



                        return dom;
            }
        </script>
    </body>
</html>