<!DOCTYPE html>
<html lang="ko">
    <head>
        <title>Welcome - profile</title>
        <meta charset="UTF-8">
        <script type="text/javascript" src="/script/jquery.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/materialize/css/materialize.css">
        <script src="/materialize/js/materialize.js"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <style>
        @import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css); /*고딕*/
        body{
            font-family: 'Nanum Gothic',serif;
            background-color : rgb(246, 246, 246);
        }

        div.container{
            margin-top:80px;
        }

    </style>
    <body>
        <div class="container">
            <div class="row">
                <form class="offset-s1 col s11" action="/profile/nickname" method="post" id="username">
                    <div class="row">
                        <div class="input-field col s9">
                            <form>
                            <% if(user.display){ %>
                                <input id="profile-name" type="text" class="validate" name="display" value="<%=user.display%>"> 
                            <% } else { %>
                                <input id="profile-name" type="text" class="validate" name="display"> 
                            <% } %>
                                <input type="submit" value="Change" class="waves-effect waves-light btn">
                            <form>
                                
                            <label for="profile-name">Please give your Nickname!!</label>
                        </div> 
                        <div class="col s3">
                            <p>
                                <img id="change-img" class="circle" src="<%=user.img%>" width="50" height="50" onerror="this.oneeror=null,src='/img/photo.png';">
                            </br>
                        </div>
                    </div>
                </form>
                <form action="/profile/upload" method="post">
                    <input id="file" type="file" style="display:none" name="img">
                </form>
                <div class="offset-s5 col s5">
                    <a class="waves-effect waves-light btn" href="/"><i class="material-icons center">home</i></a>
                </div>
            </div>
        </div>

        <script>
            $('#change-img').click(function(e){
                e.preventDefault();
                $('#file').click();
            });
            $('#file').on('change',function(e){
                e.preventDefault();

                var form = $('form')[1];
                var formData = new FormData(form);

                $.ajax({
                    url : '/profile/upload',
                    processData: false,
                    contentType: false,
                    type:'POST',
                    data : formData,
                    async : true,
                    success: function(msg){
                        Materialize.toast(msg.note,3000);
                        $('#change-img').attr('src',msg.path);
                    }
                }) //done
            })

            $('form#username').submit(function(e){
                $.ajax({
                    url : '/profile/nickname',
                    type:'POST',
                    data :$(this).serialize() ,
                    async : true,
                    success: function(msg){
                        Materialize.toast(msg.note,3000);
                    }
                }) //done

                return false;
            })
        </script>
    </body>
</html>